/*Establishment Stylesheet by Aaron Ace R. Toledo*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #191F24;
    color: #FAF6DE;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}

a {
    all: unset;
    cursor: pointer;
}

header {
    color: #FAF6DE;
    padding: 5%;
    padding-top: 1em;
    overflow: hidden;
    position: relative;
}

.navbar {
   display: flex; 
   justify-content: space-between;
   margin-left: -1em;
   margin-right: -2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    margin-top: -1vh;
    width: 5vh; 
}

.logo p {
    margin-left: .5em;
}

.links a{
    padding: 1vh;
    margin-right: 1em;
}

.links a:hover {
    background-color: #FAF6DE;
    color: #191F24;
}

.hyperlink a {
    position: relative;
    transition: background-color 0.1s ease;
}

.divider {
    border-top: 3px dashed #191F24;
}

.search-results {
    display: block;
    background-color: #FAF6DE;
    color: #191F24;
    align-items: center;
    margin: 0 auto;
    max-width: 100em;
    max-height: 90%;
    margin-bottom: 5vh;
    padding-top: 4vh;
    padding-bottom: 0.1%;
    border-radius: 2em;
    contain: content;
}

.resto-img {
    margin-left: 2vh;
    margin-bottom: 10vh;
    margin-top: -1.5vh;
    max-width: 300px;
    max-height: 199px;
    border-radius: 3vh;
    contain: content;
    text-align: center;
}

.resto-img img{
    border-radius: 3vh;
    max-width: 100%;
    max-height: 100%;
}

.results {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    margin-right: 3em;
    margin-top: 3vh;
}

.description {
    display: grid;
    margin-top: -2vh;
    margin-left: 2em;
    margin-right: 1em;
    width: 75em;
    padding-left: 2em;
    border-radius: 2em;
    background-color: #537A5A;
}

.results:nth-child(even) .description{
    background-color: #EE6958;
}

.name {
    max-width: 100%;
    color: #FAF6DE;
}

.name h1:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #EE6958;
    transition: .7s ease;
}

.results:nth-child(even) .description .name h1:hover {
    text-decoration: underline;
    color: #537A5A;
    transition: .7s ease;
}

.info {
    color: #FAF6DE;
    margin-top: -5vh;
    margin-right: 2em;
    padding: 0;
    max-width: 100%;
    text-align: justify;
    line-height: 3vh;
}

.checked {
    color: #EE6958;
}

.results:nth-child(even) .description .checked {
    color: #537A5A;
}

.searchbar {
    position: relative;
    right: -47vh;
    margin-top: -5em;
    margin-bottom: 2em;
    background-color: #FAF6DE;
    border-radius: 5vh;
    width: 50%;
    height: 60px;
}

.searchbar input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid green;
    border-radius: 5vh;
    color: black;
    padding: 20px 45px 20px 20px;
}

.searchbar input::placeholder{
    color: black;
}

.searchbar i {
    position: absolute;
    color: #191F24;
    right: 3vh;
    transform: translateY(2vh);
    font-size: 20px;
}