@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    background-color: #191F24;
    color: #191F24;
    font-family: 'Poppins';
    font-size: 2vh;
}

/** 
#EE6958
#537A5A 
**/

a {
    all: unset;
}

a:hover {
    background-color: #FAF6DF;
    padding: 1vh;
    color: #191F24;
}


.linkz {
    all:unset !important;
}

.links a {
    margin-right: 1em;
}

.nav_links {
    position: relative;
    transition: background-color 0.1s ease;
}

.header {
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 1em;
    overflow: hidden;
}

.navigation {
    display: flex;
    background-color: #191F24;
    color: #F4F6DF;
    justify-content: space-between;
    margin-left: -1em;
    margin-right: -2em;
}

.main {
    background: linear-gradient(to bottom, #537A5A, #aee468); 
    display: flex;
    justify-content: space-between;
    gap: 1%;
    max-height: 100%;
    padding: 2rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.restaurant {
    width: 60%;
    background-color: #FAF6DF;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 1200px; 
    max-height: 100%;
    overflow: auto;
    flex-grow: 1; 
}

.restaurant-text{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
}
.text-left{
    margin-left: 20px;
    width: 60%;
}
.text-right{
    margin-right: 15px;
}
.restaurant-name{
    font-size: 2.1875em;
}
.restaurant-type{
    color:rgb(118, 116, 116);
    font-size: 0.9375em;
}

.restaurant-pics{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 1200px;
    max-height: 45em;
}

.reviews{
    width: 38%;
    display:flex;
    flex-direction: column;
}

.rev-scroll{
    max-height: 40em;
    overflow-y: auto; 
    margin-bottom: 1em;
}

::-webkit-scrollbar {
    display: none;
}

.rev1, .rev2{
    background-color: #FAF6DF;
    padding: 1em;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile{
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.replies {
    padding: 1em;
    background-color: #F4F6DF;
    border: 1.5px solid #537A5A;
    margin-bottom: 10px;
}

.profile-picture {
    margin-top: -1vh;
    max-width: 80%;
}

.profile-picture img {
    max-height: 8vh;
    width: auto; 
    height: 100%; 
    border-radius: 50%;  
}

.name{
    margin-left: 10px;
}

.username{
    color:rgb(118, 116, 116);
}

.recommendation{
    display: inline-block;
    color:#537A5A;
    background-color: #dbe7cc;
    padding: 2px 2px;
}

.comment{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.delete, .edit ,.reply{
    color: rgb(118, 116, 116);
    text-align: right;
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.delete:hover, .edit:hover, .reply:hover {
    color: #EE6958;
}

.logo_text {
    display: flex;
    align-items: center;
}

.logo_text p {
    margin-left: .5em;
}

.logo {
    margin-top: -1vh;
    width: 4vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-ratings-container {
	display: flex;
	justify-content: end;
	padding: 12px 0;
    margin-left: auto;
    margin-right:10px;
}

.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
}

.post-rating:not(:last-child) {
	margin-right: 12px;
}

.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
	color: #EE6958;
}

.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #555555;
}

.post-rating:not(.post-rating-selected) > .post-rating-button:hover {
	color: #EE6958;
}

.leave-review-button {
    text-align: center;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #191F24;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button-link:hover {
    background-color: #EE6958;
    padding: 10px 20px;
}

.reply-pop-up {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: auto;
    margin-bottom: -4em;
}

.pop-up-container {
    background-color: #537A5A;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.reply-button-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10em;
    position: relative;
    width: 5em;
}

.text-area {
    font-family: 'Poppins';
    border: 1px solid #537A5A;
    background-color: #F4F6DF;
    padding: .5em;
    width: 100%;
    resize: none;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.cancelbtn {
    padding: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
    background-color: #EE6958;
    color: #F4F6DF;
    border: none;
}

.sendbtn {
    padding: 1em;
    margin-bottom: .5em;
    background-color: #F4F6DF;
    color: #537A5A;
    border: none;
}

.cancelbtn:hover, .sendbtn:hover {
    opacity: 0.9;
}
