body {
    margin: 0;
    background: #191F24;
    font-family: 'Poppins';
    font-size: 2vh;
}

/* -- FOR A HREF */
a {
    all: unset;
}

.nav_links {
    position: relative;
    transition: background-color 0.1s ease;
}

a:hover {
    background-color: #FAF6DE;
    padding: 1vh;
    color: #191F24;
}

.category-items a {
    all: unset;
}

.category-items-2 a {
    all: unset;
}


.linkz {
    all: unset !important;
}




/* -- FOR DISPLAY */

* {
    -webkit-user-drag: none; 
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

::-webkit-scrollbar {
    display: none;
}

/* -- FOR DIVIDERS */

.cover {
    background-image: url('index_assets/sinigang.gif');
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
}

.cover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.601);
}

.header {
    color: #FAF6DE;
    padding: 5%;
    padding-top: 1em;
    overflow: hidden;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-left: -1em;
    margin-right: -2em;
}


.welcome {
    display: block;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.body {
    display: block;
    text-align: center;
    color: #191F24;
}

.divide {
    padding-bottom: .5em;
    background: #FAF6DE;
}


.uno {
    background-color: #EE6958;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #FAF6DE, #EE6958), repeating-radial-gradient(circle at center center, #FAF6DE, #FAF6DE, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
    padding-top: 2%;
    padding-bottom: 2%;
}


.title_card h1, .cursive, p {
    color:#FAF6DE !important;
}

.dos {
    background-color: #191F24;
    opacity: 1;
    background-image:  radial-gradient(#FAF6DE 1px, transparent 1px), radial-gradient(#FAF6DE 1px, #191F24 2px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tres {
    background-color: #FAF6DE;
    opacity: 1;
    background-image:  linear-gradient(30deg, #537A5A 12%, transparent 12.5%, transparent 87%, #537A5A 87.5%, #537A5A), linear-gradient(150deg, #537A5A 12%, transparent 12.5%, transparent 87%, #537A5A 87.5%, #537A5A), linear-gradient(30deg, #537A5A 12%, transparent 12.5%, transparent 87%, #537A5A 87.5%, #537A5A), linear-gradient(150deg, #537A5A 12%, transparent 12.5%, transparent 87%, #537A5A 87.5%, #537A5A), linear-gradient(60deg, #537A5A77 25%, transparent 25.5%, transparent 75%, #537A5A77 75%, #537A5A77), linear-gradient(60deg, #537A5A77 25%, transparent 25.5%, transparent 75%, #537A5A77 75%, #537A5A77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    padding-top: 2%;
    padding-bottom: 2%;
}



/* -- FOR PICTURES */

.logo {
    margin-top: -1vh;
    width: 4vh;
}

.logo_b {
    width: 4vh;
}

.banner {
    width: 80%;
}

.star {
    width: 30%;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.smol {
    width: 1.7em;
}

.category_pic {
    width: 80%;
}

.restaurants_pic {
    width: 88%;
    height: 88%;
    border-radius: 20px;
    border: #191F24 5px solid;
}

.ban {
    width: 100%;
    border-top: #191F24 5px solid;
    border-bottom: #191F24 5px solid;
}


/* -- FOR SPANS */

.logo_text {
    display: flex;
    align-items: center;
}

.logo_text p {
    margin-left: .5em;
}

.links a {
    margin-right: 1em;
}

.animated {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 3%;
}

.search {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.categories {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.cursive {
    font-family: 'Ballet';
    font-size: 1.7em;
    color: #191F24;
}

.beige {
    color:#FAF6DE;
}

.beige h1 {
    color:#FAF6DE;
}

.beige .cursive {
    color:#FAF6DE;
}

.scrollers {
    display: flex;
    justify-content: center;
    gap: .5%;
    position: sticky;
    left: 0;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: Verdana;
    font-weight: bold;
}


/* -- FOR TEXTS */

h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Helvetica';
    color: #191F24;
    margin: 0;
    padding: 0;
    margin-bottom: -.7em;
}

h2 {
    margin: 0;
    color: #191F24;
    font-weight: bold;
    font-family: 'Helvetica';
}

p {
    margin: 0;
    padding: 0;
}

/* -- FOR BUTTONS */

.categories_buttons {
    border: none;
    width: 20em;
    margin-bottom: 2em;
    border-radius: 30px;
    padding: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background: #FAF6DE;
    color: #191F24;
    font-family: 'Helvetica';
    font-size: .7em;
    font-weight: bold;
}

.restaurant_buttons {
    border: none;
    width: 20em;
    height: 20em;
    margin-bottom: 2em;
    padding: 0;
    border-radius: 30px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background: #FAF6DE;
}

@media screen and (max-width: 600px) {
    .categories_buttons {
        width: 13em;
    }

    .restaurant_buttons {
        width: 13em;
    }

}


#scroll-uno-right, #scroll-dos-right,
#scroll-uno-left, #scroll-dos-left {
    all: unset;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 4px;
    background-color: #FAF6DE; 
}

/* -- FOR FORMS */

#query {
    width: 20em;
    background-color: #FAF6DE;
    padding: 5px;
    padding-left: 15px;
    font-family: 'Poppins';
}

/* -- FOR ANIMATIONS */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}