<div class="profile-main">
    <div class="profile-section1">
        <img class="profile-picture" src="{{user.profileimg}}">
        <h1>{{user.fullname}}</h1>
        <p>{{user.username}}</p>
        <span class="buttons">
            <a href="/delete_account"><button class = "del">Delete Account</button></a>
        </span>
    </div>
    
    <div class = "edit-profile">
        <h1>Edit Profile</h1>
        <div class = "edit-form-table">
            <div class = "edit-form1">
                <form>
                    Profile Picture <input type ="file" id = "password"><br>
                    First Name <input type ="text" id = "fname" class = "edit-input"><br>
                    Last Name <input type ="text" id = "lname" class = "edit-input"><br>
                    Username <input type ="text" id = "username" class = "edit-input"><br>
                    Email <input type ="email" id = "username" class = "edit-input"><br>
                    Password <input type ="text" id = "password" class = "edit-input"><br>     
                </form>
            </div>
            
            <div class = "edit-form2">
                <form>
                    Likes <br><textarea name="paragraph_text" cols="70" rows="3" class = "edit-input"></textarea><br>
                    Dislikes <br><textarea name="paragraph_text" cols="70" rows="3" class = "edit-input"></textarea>
                </form>
                
            </div>
            
        </div>
        <br>
        <span class = "sub">
            <a href="/user-profile"> <input type="submit" id="submit" value="Submit"> </a>
    </span>            
    </div>
    
</div>




</body>
</html>
