<div class="body1">

    <div class="divide">
    </div>

    <div class="uno1">

        <div class="about1">
            <img class="about-img" src="https://i.pinimg.com/originals/8b/b3/87/8bb387ee878eddeb23baea344d4e13af.gif">
            
            <span><h2>What the FOOD is all about Archer's Hunt?</h2>
            <p>After the end of the pandemic, businesses around the world have been steadily returning to the pre-pandemic days with some surviving the ordeal while others are not so lucky. Restaurants are examples of businesses that mostly come and go, depending on how popular and good their food is. Here in De La Salle University, there are still many surviving restaurants and food stalls pre-pandemic but there is also an abundance of newer restaurants popping up in the area that varies to different types of cuisine. This abundant choice of restaurants and food stalls would leave students wondering which ones are worth trying during their stay at the university. This leads to the group’s choice of creating a website focusing on the restaurants near the university to help the students in their food exploration at DLSU.
            </p>
            </span>
            
        </div>
        
    </div>

    <div class="divide">
    </div>

    <div class="dos">
        <div class="title_card">
            <h1><span class="cursive">O</span>ur <span class="cursive">D</span>evelopers!</h1>
            <p>Meet the coolest team behind this website!</p>

            <div class="about1">
                <a href="https://www.facebook.com/AART.TOLEDO"><img class="about-img-profile" src="https://scontent.fmnl5-2.fna.fbcdn.net/v/t39.30808-6/398227295_7153959997981230_2443663203939020641_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=VChrMT5UK7QAb7LNRMV&_nc_oc=AdjKs5KZIVFdjybQ8S8HiLquLOKUMhtO_mKWABW6pE4VnL3DUkLY-cyCoA4u6KCXN6M&_nc_ht=scontent.fmnl5-2.fna&oh=00_AfCiqiZSH62tZA0EEfyY4pAyDLi2QQvIDaB95-hWGJma1A&oe=661487D4"></a>
                <a href="https://www.facebook.com/jsznln"><img class="about-img-profile" src="https://scontent.fmnl5-2.fna.fbcdn.net/v/t39.30808-6/419481553_6668632946574770_2569629621553054343_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=kJvuqGuplqQAb48WnvD&_nc_ht=scontent.fmnl5-2.fna&oh=00_AfALA4GCd3sS45TaDflbd6LuWCinYD5V3JNFkcCAWTh52w&oe=66146866"></a>
                <a href="https://www.facebook.com/alyanna.lim.100"><img class="about-img-profile" src="https://scontent.fmnl5-2.fna.fbcdn.net/v/t39.30808-6/296785741_1229048414535641_6792183049660702756_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=46SmXXBhqUcAb6Ms_x6&_nc_ht=scontent.fmnl5-2.fna&oh=00_AfAYawWLUXJ5_ULqhGBlGo-I-UQ68OpNsKH7NzEnG2b8tQ&oe=66146F3A"></a>
                <a href="https://www.facebook.com/axisverse/"><img class="about-img-profile" src="https://scontent.fmnl5-2.fna.fbcdn.net/v/t39.30808-6/428084082_373431045399057_4672030449249205803_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KzwuoI8bKC0Ab4RXYdM&_nc_ht=scontent.fmnl5-2.fna&oh=00_AfDzJxpN1RApCM17rTcoZfn0NkNXkK-6JVWKOHFBo9131A&oe=66145B49"></a>
            </div>

            <br>
            <br>
        </div>
    </div>

    <div class="divide">
    </div>

    <div class="dos2">
        <div class="title_card">
            <h1><span class="cursive">A</span>bout <span class="cursive">U</span>s!</h1>
            <p>Learn more about the libraries used and the developers of the website!</p>

            <div class="about1">
                <a href="https://expressjs.com/"><h2 class="two">Express</h2></a>
                <a href="https://www.npmjs.com/package/express-handlebars"><h2 class="two">Express-Handlebars</h2></a>
                <a href="https://www.npmjs.com/package/express-session"><h2 class="two">Express-Sessions</h2></a>
            </div>

            <div class="about1">
                <a href="https://www.npmjs.com/package/body-parser"><h2 class="two">Body-Parser</h2></a>
                <a href="https://www.npmjs.com/package/mongoose"><h2 class="two">Mongoose</h2></a>
                <a href="https://www.npmjs.com/package/connect-mongodb-session"><h2 class="two">Connect-MongoDB-Session</h2></a>
            </div>

            <div class="about1">
                <a href="https://www.npmjs.com/package/fs"><h2 class="two">FS</h2></a>
                <a href="https://www.npmjs.com/package/path"><h2 class="two">Path</h2></a>
                <a href="https://www.npmjs.com/package/bcrypt"><h2 class="two">BCRYPT</h2></a>
            </div>
        </div>
    </div>
  <div class="reminder">
        <p>You are currently on GUEST MODE. To gain full functionality 
            of the website, <a href="/login">LOG IN</a> or <a href="/register">CREATE AN ACCOUNT</a> now!
        </p>
  </div>

  <br>

</div>
