<div class="welcome">
        <span class="animated">
            <img class="star" src="../common/images/star.png" alt="star">
            <img class="banner" src="../common/images/text1.png" alt="text">
            <img class="star" src="../common/images/star.png" alt="star">
        </span>
        <span class="search">
            <form action="/search" method="get">
                <input type="text" id="query" name="query" placeholder="Search...">
            </form>
            <span id="link" class="remove-hover">
                <img class="smol" src="../common/images/search.png" alt="search">
            </span>
        </span>
    </div>
</div>



<div class = "body">
  
  <div class = "divide">
  </div>
  
  <div class="uno">
      <div class = "title_card">
          <h1><span class="cursive">M</span>x. <span class="cursive">P</span>opularity?</h1>
          <p>Check here some of the most clicked categories among the users!</p>
      </div>
      <div class="categories">
          <span class="scrollers">
              <button id="scroll-uno-left"><</button>
              <button id="scroll-uno-right">></button>
          </span>
          <div class="category-items">

                    <a href="/search/Korean">
                        <button class="categories_buttons"><img class="category_pic" src="common/images/food/korean.png"><br>Korean</button> 
                    </a>
                    <a href="/search/Chinese">
                        <button class="categories_buttons"><img class="category_pic" src="common/images/food/chinese.png"><br>Chinese</button> 
                    </a>
                    <a href="/search/Italian">
                        <button class="categories_buttons"><img class="category_pic" src="common/images/food/italian.png"><br>Italian</button>
                    </a>
                    <a href="/search/Chicken">
                        <button class="categories_buttons"><img class="category_pic" src="common/images/food/chicken.png"><br>Chicken</button>
                    </a>
                    <a href="/search/Quickbites">
                        <button class="categories_buttons"><img class="category_pic" src="common/images/food/quickbites.png"><br>Quick Bites</button>
                    </a>
                    <a href="/search/Seafood">
                        <button class="categories_buttons" style="display: none;"><img class="category_pic" src="common/images/food/seafood.png"><br>Seafood</button>
                    </a>
                    <a href="/search/French">
                        <button class="categories_buttons" style="display: none;"><img class="category_pic" src="common/images/food/french.png"><br>French</button>
                    </a>
                    <a href="/search/Dessert">
                        <button class="categories_buttons" style="display: none;"><img class="category_pic" src="common/images/food/dessert.png"><br>Dessert</button>
                    </a>
                    <a href="/search/Vegetarian"> 
                        <button class="categories_buttons" style="display: none;"><img class="category_pic" src="common/images/food/vegetarian.png"><br>Vegetarian</button>
                    </a>
          </div>
      </div>
  </div>
  
  
  <div class = "divide">
  </div>
  
  <div class="dos">
      <span class="beige">
          <h1><span class="cursive">D</span>ine <span class="cursive">&</span> <span class="cursive">D</span>iscover</h1>
          <p>Looking for the most popular restaurants right now? You're in the right place!</p>
      </span>
      <div class="categories">
          <span class="scrollers">
              <button id="scroll-dos-left"><</button>
              <button id="scroll-dos-right">></button>
          </span>
          <div class="category-items-2">

    {{#each restaurants}}
        {{#if isDeleted}}
        {{else}}
            <a href="/restaurant/{{resto-name}}">
                <button class="restaurant_buttons">
                    <img class="restaurants_pic" src="{{resto-img}}" alt="{{resto-name}}">
                </button>
            </a>
        {{/if}}
    {{/each}}

          </div>
      </div>
  </div>
  
  <div class = "divide">
  </div>
  
  <div class="tres">
      <img class = "ban" src="../common/images/banner.png">
  </div>

</div>
