/*Login Stylesheet by Aaron Ace R. Toledo*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: beige;
    color: #537A5A;
    font-family: 'Poppins';
}

input[type=submit]{
    background-color: beige;
    color: #537A5A;
    border-radius: 10%;
    font-size: 20px;
}

input[type=submit]:hover{
    background-color: #537A5A;
    color: white;
}

header {
    display: flex;
    justify-content:center;
}

.logo-container {
    border: 1px solid black;
    position: absolute;
    top:5px;
}

.logo-container > a > img {
    width: 3%;
    height: 3%;
}

.title-holder {
    top: 5px;
}

.link-containers {
    justify-content: end;
}

.parent {
    display:block;
}

.action-container {
    display: flex;
    max-width: 25%;
    max-height: 25%;
    height: 25%;
    width: 25%;
    top: 50%;
    transform: translate(0, 50%);
    border: 1px dotted black;
    background-color: white;
    padding: 5%;
    margin: auto;
}

.login-container {
    
}

.register-container {
    height: 100%;
    width: 100%;
    margin: 10%;
}