 <div class = "main">
    <div class="text-header">
        <h3>Are you sure you want to delete your review?</h3>
        <hr>
        <br>
        <div class="note">
        <p>Deleting your review is a big step! Remember, your feedback helps others and can lead to improvements.</p>
        <br>
        </div>
        <div class="btn-group">
            <button class="btn delete">Delete</button>
            <button class="btn cancel">Cancel</button>
        </div>
    </div>
</div>