<input type="hidden" id="hiddenval" value="{{restoname}}">
<input type="hidden" id="hiddenrev" value="{{reviewId}}">
 <div class = "main">
    <div class="text-header">
        <h3>Are you sure you want to delete your review?</h3>
        <hr>
        <br>
        <div class="prev">{{review}}</div>
        <div class="note">
        <p>Deleting your review is a big step! Remember, your feedback helps others and can lead to improvements.</p>
        <br>
        </div>
        <form id="deleteReviewForm">
            <div class="btn-group">
                <button type="submit" class="btn delete" id="submit">Delete</button>
                <button type="button" class="btn cancel" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>