<input type="hidden" id="hiddenval" value="{{restoname}}">
<input type="hidden" id="hiddenrep" value="{{replyId}}">
    <div class="main">
        <div class="text-header">
            <h3>Are you sure you want to delete your reply?</h3>
            <hr>
            <br>
            <div class="prev">{{reply}}</div>
            <div class="note">
                <p>Deleting your reply to a review is a significant decision! Keep in mind that your response can shape perceptions and show your commitment to customer satisfaction.</p>
                <br>
            </div>
        <form id="deleteReplyForm">
            <div class="btn-group">
                <button type="submit" class="btn delete" id="submit">Delete</button>
                <button type="button" class="btn cancel" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>
