<!--Created By Aaron Ace R. Toledo-->
<div class="center">   <!-- added div for responsive centering -->
    <div class="title">
        <span class="logo">
            <img src="/common/raw assets _ psds/logo_white.png" alt="Logo">
            <h1>Archer's Hunt</h1>
        </span>
    </div>
    <div class="login-container">
        <form action="post-login" id="login-form" name="login-form" method="post">
            <h1>Login</h1>
            <div class="input-box" id="username-box">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box" id="password-box">
                <input type="password" name="password" id="password" placeholder="Password" required>
                <i class='bx bx-key' ></i>
            </div>
            <button id="loginbtn" type="submit" class="btn">Login</button>
            <div class="register">
                <p>Don't have an account with us? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
</div>
