<!-- To put files in each other -->

<div class="main">
  <div class="center-area">
    <table id="message-area">
    </table>
  </div>
</div>

<footer>
  <div class="center-area resp-area">
    <input type="text" id="msg-txt" /><button id="msg-btn">Send</button>
  </div>
</footer>
