<div class = "main">
    <div class="text-header">
        <h3>What are your thoughts about this review?</h3>
        <form action="/restaurant/{{restoname}}/post-reply" method="post" id="reviewform"> 
            <textarea name="text-review" cols="30" rows="5" placeholder="Share your  reply here!" id="review"></textarea>
            <div class="btn-group">
                <button type="submit" class="btn submit" id="submit">Submit</button>
                <button type="button" class="btn cancel" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>