<div class = "main">
    <div class="text-header">
        <h3>How was your experience?</h3>
        <div class="recommendation">
            <input type="radio" id="recommend" name="recommendation" value="recommended">
            <label for="recommend">Recommended</label>
            <input type="radio" id="not-recommend" name="recommendation" value="not-recommended">
            <label for="not-recommend">Not Recommended</label>
        </div>
        <form action="/restaurant/{{resto-name}}/reviews" method="POST"> 
            <textarea name="text-review" cols="30" rows="5" placeholder="Share your  experience to help others!"></textarea>
            <div class="upload">
                You can upload photos or videos here!
                <input type="file" id="myFile" name="filename" multiple>
            </div>
        </form>
        <div class="btn-group">
            <button type="submit" class="btn submit">Submit</button>
            <button class="btn cancel">Cancel</button>
        </div>
    </div>
</div>