/*Login Stylesheet by Aaron Ace R. Toledo*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    box-sizing: border-box;
}

body {
    background-image: url('../assets/backgroundimgs/pizza.gif');/*This gif came from this site https://youtu.be/sv3TXMSv6Lw*/
    background-size: cover;
    background-position: top;
    overflow: hidden;
    font-family: 'Poppins';
    font-size: 2.1vh;
    display: flex;
    position: absolute;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity here */
    }
}

.center {
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


a {
    all: unset;
}

a:hover {
    background-color: #FAF6DE;
    padding: 1vh;
    color: #191F24;
}

p {
    margin: 0;
    padding: 0;
}

header {
    color: #FAF6DE;
    padding: 5%;
    padding-top: 1em;
    overflow: hidden;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAF6DE;
}

.logo {
    display: flex;
    align-items: center;
    z-index: 9;
}

.logo > img {
    margin-top: -1vh;
    width: 5em;
}

.logo > h1 {
    margin-left: .5vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: -1em;
    margin-right: -2em;
}

.links {
    margin-right: 1em;
}

.hyperlink a {
    position: relative;
    transition: background-color 0.1s ease;
}

.login-container {
    position: relative;
    width: 420px;
    background-color: #FAF6DE;
    color: #191F24;
    padding: 30px 30px 30px 30px;
    border-radius: 3vh;
    border: 2px solid #191F24;
}

.login-container h1 {
    font-size: 36px;
    text-align: center;
}

.login-container a {
    padding: 0;
}

.login-container .input-box {
    width: 100%;
    height: 50px;
    background-color: #FAF6DE;
    margin: 30px 0;
}

.login-container .btn{
    width: 100%;
    height: 45px;
    background-color: #537A5A;
    color: #FAF6DE;
    border-radius: 5vh;
    border: none;
    outline: none;
    box-shadow: #191F24;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.login-container .register {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #EE6958;
    color: #FAF6DE;
}

.register p a:hover {
    text-decoration: underline;
}

.input-box {
    border-radius: 5vh;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #537A5A;
    border-radius: 5vh;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: black;
}

.input-box i {
    margin: -10%;
}


.register-container {
    position: absolute;
    right: 40%;
    transform: translateY(15em);
    width: 420px;
    background-color: #FAF6DE;
    color: black;
    padding: 30px 30px 30px 30px;
    border-radius: 3vh;
}

.register-container h1 {
    font-size: 36px;
    text-align: center;
}

.register-container a {
    padding: 0;
}

.register-container .input-box {
    width: 100%;
    height: 50px;
    background-color: #FAF6DE;
    margin: 30px 0;
}

.register-container .btn{
    width: 100%;
    height: 45px;
    background-color: #537A5A;
    color: #FAF6DE;
    border-radius: 5vh;
    border: none;
    outline: none;
    box-shadow: #191F24;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
