body {
    margin: 0;
    background-color: #191F24;
    color: #191F24;
    font-family: 'Poppins';
    font-size: 2vh;
}

/** 
#EE6958
#537A5A 
**/

/* -- FOR A HREF */

a {
    all: unset;
}

a:hover {
    background-color: #FAF6DF;
    padding: 1vh;
    color: #191F24;
}

.links a {
    margin-right: 1em;
}

.nav_links {
    position: relative;
    transition: background-color 0.1s ease;
}

/* -- FOR A DIVIDERS */

.header {
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 1em;
    overflow: hidden;
}

.navigation {
    display: flex;
    background-color: #191F24;
    color: #F4F6DF;
    justify-content: space-between;
    margin-left: -1em;
    margin-right: -2em;
}

.main {
    background: linear-gradient(to bottom, #537A5A, #aee468); 
    display: flex;
    justify-content: space-between;
    gap: 1%;
    height: 100vh;
    padding: 2rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* -- FOR A SPANS */

.logo_text {
    display: flex;
    align-items: center;
}


/* -- FOR A TEXTS */
.logo_text p {
    margin-left: .5em;
}

.logo {
    margin-top: -1vh;
    width: 4vh;
}

/* -- FOR TEXT AREA */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-header {
    background: #FAF6DF;
    padding: 1rem; 
    max-width: 650px;;
    width: 100%;
    border-radius: .75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; 
}

.text-header h3 {
    font-size: 2rem;
    font-weight: 600;
}

.upload{
    color:#537A5A;
}

.recommendation{
    color:#537A5A;
    margin-bottom:5px;
}
.recommendation input[type="radio"]:checked + label {
    background-color: #f0f0f0; 
    color: #537A5A; 
    border: 1px solid #537A5A; 
}
.recommendation input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #537A5A; 
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.recommendation label {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.recommendation input[type="radio"]:checked + label::before {
    border-color: #537A5A; 
}

.recommendation input[type="radio"]:checked + label {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

textarea {
    font-family: "Poppins";
    width: 100%;
    height: 350px;
    background: #F4F6DF;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    border: 2px solid #537A5A;
    margin-top: 5px;
}

.note {
    font-size: 1rem;
    color: darkgray;
}

/* -- FOR A BUTTONS */

.btn-group {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}

.btn-group .btn.submit {
    background: #191F24;
    color: #F4F6DF;
}

.btn-group .btn.submit:hover {
    background: #537A5A;
}

.btn-group .btn.delete {
    background: #191F24;
    color: #F4F6DF;
}

.btn-group .btn.delete:hover {
    background: #537A5A;
}

.btn-group .btn.cancel {
    background: #d9d8d5;
    color: #537A5A;
}

.btn-group .btn.cancel:hover {
    background: rgb(240, 205, 201);
}


