<link rel="stylesheet" href="../common/css/navigation.css">

<div class = "header">
        <div class = "navigation">
            <span class = "logo_text">
                <img class = "logo" src = "../common/images/logo.png">
                <p>Archer's Hunt</p>
            </span>
            <span class = "links">
                <a class = "nav_links" href="/">Home</a>
                <a class = "nav_links"  href="/establishments">Listings</a>
                <a class = "nav_links"  href="/profile">Profile</a>
                <a class = "nav_links"  href="/logout">Log Out</a>
            </span>
        </div>
</div>