body {
    margin: 0;
    background-color: #191F24;
    color: #191F24;
    font-family: 'Poppins';
    font-size: 2vh;
}

/** 
#EE6958
#537A5A 
**/

/* -- FOR A HREF */

a {
    all: unset;
}

a:hover {
    background-color: #FAF6DF;
    padding: 1vh;
    color: #191F24;
}

.links a {
    margin-right: 1em;
}

.nav_links {
    position: relative;
    transition: background-color 0.1s ease;
}

/* -- FOR A DIVIDERS */

.header {
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 1em;
    overflow: hidden;
}

.navigation {
    display: flex;
    background-color: #191F24;
    color: #F4F6DF;
    justify-content: space-between;
    margin-left: -1em;
    margin-right: -2em;
}

.main {
    background: linear-gradient(to bottom, #537A5A, #aee468); /* Gradient from top to bottom */
    display: flex;
    justify-content: space-between;
    gap: 1%;
    height: 100vh;
    padding: 2rem; /* Added padding for better visual separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
}

/* -- FOR A SPANS */

.logo_text {
    display: flex;
    align-items: center;
}


/* -- FOR A TEXTS */
.logo_text p {
    margin-left: .5em;
}

/* -- FOR TEXT AREA */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-header {
    background: #FAF6DF;
    padding: 1rem; /* Adjust padding to make it smaller */
    max-width: 650px;;
    width: 100%;
    border-radius: .75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; /* Center the element horizontally */
}

.text-header h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

textarea {
    font-family: "Poppins";
    width: 100%;
    height: 350px;
    background: #F4F6DF;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
    border: 2px solid #537A5A;
}


/* -- FOR A BUTTONS */

.btn-group {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}

.btn-group .btn.submit {
    background: #191F24;
    color: #F4F6DF;
}

.btn-group .btn.submit:hover {
    background: #537A5A;
}

.btn-group .btn.cancel {
    background: #FAF6DF;
    color: #537A5A;
}

.btn-group .btn.cancel:hover {
    background: #F4F6DF;
}


